/* 
* @Author: sahildua2305
* @Date:   2016-01-06 01:50:00
* @Last Modified by:   sahildua2305
* @Last Modified time: 2016-01-14 03:03:07
*/


body {

}

label {
	display: block;
	margin-bottom: 5px;
	/*line-height: 30px;*/
	font-weight: 600;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

pre {
	display: block;
	margin: 0 0 9px;
	font-size: 14px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	color: #454c59;
	background: #fff;
	padding: 20px;
	border: 1px solid #c2c7d0;
}

.cursor {
	cursor: pointer;
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.left {
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
}

.right {
	margin: 0;
	padding: 0;
}

#editor-topbar {
	margin: 0;
	padding: 1%;
	height: auto;
	background-color: rgb(245, 245, 245);
}

.lang-choose {
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 160px;
}

#settings {
	position: relative;
	float: right;
	text-align: right;
	padding: 1%;
	width: 20%;
}

#download-code {
	padding: 15%;
}

#show-settings {
	padding: 15% 0 15% 15%;
	text-decoration: none;
	-moz-transition: 0.3s color ease;
	-o-transition: 0.3s color ease;
	-ms-transition: 0.3s color ease;
	-webkit-transition: 0.3s color ease;
	transition: 0.3s color ease;
}

#settings-pane {
	position: absolute;
	right: -0.8em;
	top: 2.3em;
	z-index: 9;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
	padding: 10px;
	width: 16em;
	background: rgb(255, 255, 255);
	display: none;
	text-align: left;
}

#settings-pane>label {
	line-height: 30px;
}

#inner-settings-pane {
	position: absolute;
    width: 0;
    right: 1.5em;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd;
    top: -0.5em;
}

#tab-spaces {
	width: 4em;
}

#editor {
	margin: 0;
	padding: 0;
	height: 400px;
}

#editor-statusbar {
	margin: 0;
	padding: 0;
	height: 20px;
	background-color: rgb(245, 245, 245);
	color: gray;
}

.ace_status-indicator {
	color: gray;
	position: absolute;
	right: 0;
	border-left: 1px solid;
}

.run-save-panel {
	margin: 1% 0 1% 2%;
	padding: 1% 0 1% 2%;
}

.custom-input-panel {
	margin: 1% 2% 1% 0;
	padding: 1% 2% 1% 0;
}

.custom-input-container {
	display: none;
}

.nice-textarea {
	border: 1px solid #aaa;
	width: 100%;
	height: 100px;
}

.output-response-box {
	margin-top: 20px;
	display: none;
}

.output-details {
	text-align: center;
	padding: 10px;
	border: 1px solid #aaa;
	background-color: rgb(245, 245, 245);
}

.output-details-info {
	display: inline-block;
	margin-right: 6%;
}

.output-details-info .key {
	display: inline-block;
	margin-right: 5px;
	font-weight: 700;
}

.output-details-info .value {
	display: inline-block;
}

.output-io {
	padding: 15px 30px 30px;
	border: 1px solid #aaa;
	/*display: none;*/
}

.output-io .key, .error-key {
	font-weight: 700;
}

.output-io .output-text {
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 0px;
	padding: 8px;
}

.output-io .output-i {
	max-height: 400px;
	overflow-y: scroll;
	/*display: none;*/
}

.output-io .output-o {
	max-height: 400px;
	overflow-y: scroll;
	/*display: none;*/
}

.output-io .output-i-info {
	/*display: none;*/
}

.output-io .output-o-info {
	/*display: none;*/
}

.output-empty-message {
	color: #888;
	font-size: 16px;
	display: none;
}

.output-error-box .error-message {
	background: #ff7272;
	border: 1px solid #faa;
	border-radius: 0px;
	padding: 10px;
}

.output-io-info, .output-error-box {
	margin-bottom: 3%;
}

footer {
	margin-top: 2%;
	padding: 1%;
	border-top: 1px solid #aaa;
	text-align: center;
}
